<h1>Create Employee</h1>
<form [formGroup]="employeesForm">

        <label for="NAME">Name:</label>
        <input id="NAME" type="text" formControlName="name" autocomplete="off">
        <br>

        <h6>Gender:</h6>
        <input id="MALE" type="radio" name="gender" formControlName="gender" value="male" >
        <label for="MALE">Male</label>
        <input id="FEMALE" type="radio" name="gender" formControlName="gender" value="female" >
        <label for="FEMALE">Female</label>
        <br>

        <label for="COMPANY">Company:</label>
        <input id="COMPANY" type="text" formControlName="company" autocomplete="off">
        <br>
    
        <label for="ROLE">Role</label>
        <input id="ROLE" type="text" formControlName="role">
        <br>
    
        <label for="PACKAGE">Package:</label>
        <input id="PACKAGE" type="number" formControlName="package">
        <br>

        <label for="EMAIL">email:</label>
        <input id="EMAIL" type="email" formControlName="email" autocomplete="off">
        <br>

        <label for="Dob">DOB:</label>
        <input id="Dob" type="date" formControlName="dob">
        <br>

        <h6 for="">Address:</h6>
            <div formGroupName="address">
                <label for="AL">Address Line:</label>
                    <input id="AL" type="text" formControlName="addressLine">
                    <br>
    
                    <label for="CITY">City:</label>
                    <input id="CITY" type="text" formControlName="city">
                    <br>
    
                    <label for="STATE">State:</label>
                    <input id="STATE" type="text" formControlName="state">
                    <br>

                    <label for="PINCODE">Pincode:</label>
                    <input id="PINCODE" type="text" formControlName="pincode">
                    <br>
            </div>
                    
    
        
        <br>

        <label for="HIKE">Hike:</label>
    <button id="HIKE" (click)="addhike()" class="btn btn-primary">Add hike</button>
    <br><br>

    <div formArrayName="hikes">
        <div *ngFor="let card of hikesFormArray.controls;let i=index" >
            <div formGroupName="{{i}}" >

                <h2>card {{i+1}}</h2>
                <label for="YEAR">Year: </label>
                <input id="YEAR" type="number" formControlName="year">
                <br>

                <label for="PERCENTAGE">Percentage: </label>
                <input id="PERCENTAGE" type="number" formControlName="percentage">
                <br>

                <button class="btn btn-danger" (click)="deleteCard(i)">Delete</button>
                <hr>
            </div>
        </div>
    </div>

    <h6 for="">work Mode:</h6>
    <input id="WFH" type="radio" name="workMode" formControlName="workMode" value="wfh">
    <label for="WFH">work from home</label>
    <input id="WFO" type="radio" name="workMode" formControlName="workMode" value="wfo">
    <label for="WFO">work from office</label>
    <br>

<div *ngIf="employeesForm.get('workMode')?.value=='wfh'">
    <label for="WFh">wifi bill:</label>
    <input id="WFh" type="number" formControlName="wifibill">
</div>
<div *ngIf="employeesForm.get('workMode')?.value=='wfo'">
    <label for="WFo">travelfee:</label>
    <input id="WFo" type="number" formControlName="travelBill">
</div>
        <br>
        <button (click)="submit()" class="btn btn-warning">submit</button>
</form>