/* .red{
    background-color: red;
}
.green{
    background-color: green;
} */

.top{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

th{
    overflow-y: auto;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: lightseagreen;
}
