<div class="top">
    <pre> 
<label for="SEARCH">Search: </label> <input id="SEARCH"  type="text" placeholder="search here" [(ngModel)]="term" (keyup)="filter()">
    </pre>
<div>
    <select id="COLUMN" [(ngModel)]="column" >
        <option id="COLUMN">select</option>
        <option id="COLUMN">dob</option>
        <option id="COLUMN">package</option>
        <option id="COLUMN">id</option>
    </select>
    <select id="ORDER" [(ngModel)]="order" >
        <option id="ORDER">asc</option>
        <option id="ORDER">desc</option>
    </select>
    <button Class="btn btn-warning" (click)="sort()">sort</button>
</div>
<div>
    <select id="LIMIT" [(ngModel)]="limit" >
        <option id="LIMIT">10</option>
        <option id="LIMIT">20</option>
        <option id="LIMIT">30</option>
        <option id="LIMIT">40</option>
    </select>
    <select id="PAGE" [(ngModel)]="page" >
        <option id="PAGE">1</option>
        <option id="PAGE">2</option>
        <option id="PAGE">3</option>
    </select>
    <button Class="btn btn-warning"(click)="pagination()">pagination</button>    
</div>
</div>
<br>
<table border="1" class="table table-dark ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company Name</th>
            <th>Role</th>
            <th>Package</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Address</th>
            <th>Hikes</th>
            <th>Work Mode</th>
            <th>Gender</th>
            <th>Wifi Bill</th>
            <th>Travel Bill</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.company}}</td>
            <td>{{employee.role}}</td>
            <td [ngStyle]="{'background-color': employee.package<900000? 'red':'green'}">{{employee.package}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.dob}}</td>
            <td>
                Address line: {{employee.address?.addressLine}}
                <br>
                City: {{employee.address?.city}}
                <br>
                State: {{employee.address?.state}}
                <br>
                Pincode: {{employee.address?.pincode}}
            </td>
        <!-- <td>
            <div>{{employee.address?.addressLine}}</div>
            <div>{{employee.address?.city}}, {{employee.address?.state}} - {{employee.address?.pincode}}</div>
        </td> -->
            <td>
                
                <div  *ngIf="employee.hikes && employee.hikes.length > 0;else noHikes">
                    <div *ngFor="let hike of employee.hikes">
                        <ol>
                            <li>Year: {{hike.year}}</li>
                            <li>Percentage: {{hike.percentage}}%</li>
                        </ol>
                    </div>
                </div>
                <ng-template #noHikes>
                    <p>No hikes available.</p>
                  </ng-template>
                    <!-- <div>Year: {{hike.year}}</div>
                    <div>Percentage: {{hike.percentage}}%</div> -->
            </td>
            <td>{{employee.workMode}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.wifibill}}</td>
            <td>{{employee.travelBill}}</td>
            <td >{{employee.id}}</td>
            <td><button (click)="delete(employee.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>