.home-container {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 1rem 0;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .hero {
    background: url('src/assets/officebckg.jpg');
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: black;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
  }
  
  .cta-button {
    padding: 12px 20px;
    background-color: #f7b500;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #f8f8f8;
  }
  
  .feature {
    width: 30%;
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footer-links li {
    margin-left: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  